<form action="" [formGroup]="form">
  <mat-form-field class="example-form-field">
    <mat-label>Timer, ms</mat-label>
    <input matInput type="number" formControlName="timer">
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Array size</mat-label>
    <input matInput type="number" formControlName="arraySize">
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Additional array ids</mat-label>
    <input matInput type="string" formControlName="additionalIds">
  </mat-form-field>
</form>
