:host {
  display: block;
  padding: 10px;
  border-top: 1px solid gray;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__item {
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 10px;

    &:not(:first-child) {
      border: 1px solid gray;
    }

    & > * {
      padding: 10px;
    }
  }

  &__inner-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid gray;

  }
}
